<div class="main-menu menu-fixed menu-shadow menu-dark menu-accordion" data-scroll-to-active="true" id="sidebar">
  <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
          <li class=" navigation-header"><span>Menu</span><i class="ft-minus" ></i>
          </li>
          <li class="nav-item"><a routerLink="/dashboard/home"><i class="ft-home"></i><span class="menu-title" >Dashboard</span>
          </a>
          </li>
          <li class="nav-item"><a><i class="ft-user"></i><span class="menu-title">Users</span></a>
              <ul class="menu-content">
                  <li><a class="menu-item"></a>
                      <ul class="menu-content">
                          <li><a class="menu-item" routerLink="/dashboard/profile" >Add User</a>
                          </li>
                          <li><a class="menu-item" routerLink="/dashboard/modify">Modify User</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/invoice"><i class="ft-file-text"></i><span class="menu-title">Invoice</span></a>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/income"><i class="ft-trending-up"></i><span class="menu-title">Income</span></a>
          </li>
          <li class="nav-item"><a  routerLink="/dashboard/manage-orders"><i class="ft-settings"></i><span class="menu-title">Manage Orders</span></a>
          </li>
          <li class="nav-item"><a><i class="ft-user"></i><span class="menu-title">User Profile</span></a>
              <ul class="menu-content">
                  <li><a class="menu-item"></a>
                      <ul class="menu-content">
                          <li><a class="menu-item" routerLink="/dashboard/edit-profile" >Edit Profile</a>
                          </li>
                          <li><a class="menu-item" routerLink="/dashboard/password-reset">Reset Password</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>
          
      </ul>
  </div>
</div>






