<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-1 col-sm-4">
        <h3 class="content-header-title">Home</h3>
    </div>
    <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12 col-sm-4">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>
  </div>

  <div class="content-body">
      <section class="basic-elements">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Book Cargo</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                        <fieldset class="form-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" class="form-control" id="fname">
                                        </fieldset>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                      <fieldset class="form-group">
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control" id="lname">
                                    </fieldset>
                                    </div>
                                    </div>
                            </form>
                          </div>
                      </div>
                  </div>
                </div>
        </div>
      </section>
</div>